use BOOKMANAGEMENT 
select * from book
drop database [FootballManagement]
CREATE database [FootballManagement]
USE [FootballManagement]
GO
/****** Object:  Table [dbo].[Club]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Club](
	[ClubID] [varchar](3) NOT NULL,
	[ClubName] [nvarchar](50) NOT NULL,
	[StadiumName] [nvarchar](50) NOT NULL,
	[Path] [varchar](50) NULL,
 CONSTRAINT [PK_Club] PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Coach]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Coach](
	[CoachID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Coach_1] PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetailRecord]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetailRecord](
	[ClubID] [varchar](3) NOT NULL,
	[TotalPoint] [int] NOT NULL,
	[NumberOfWinMatch] [int] NOT NULL,
	[NumberOfLoseMatch] [int] NOT NULL,
	[NumberOfDrawMatch] [int] NOT NULL,
	[Offset] [int] NOT NULL,
	[TotalWinGoal] [int] NOT NULL,
	[TotalLoseGoal] [int] NOT NULL
) ON [PRIMARY]
GO



SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [varchar](5) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GoalRecord]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoalRecord](
	[MatchID] [int] NOT NULL,
	[PlayerScoreID] [varchar](50) NOT NULL,
	[PlayerAssistID] [varbinary](50) NULL,
	[RoundID] [int] NOT NULL,
	[TypeGoalID] [int] NOT NULL,
	[TimeToGoal] [time](7) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HumanInformation]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HumanInformation](
	[HumanID] [varchar](50) NOT NULL,
	[GenderID] [varchar](5) NOT NULL,
	[Human_ClubID] [varchar](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Nation] [nvarchar](50) NOT NULL,
	[Path] [varchar](50) NULL,
 CONSTRAINT [PK_HumanInformation] PRIMARY KEY CLUSTERED 
(
	[HumanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Match]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[MatchDate] [date] NOT NULL,
	[MatchTime] [time](7) NOT NULL,
	[HomeClubName] [nvarchar](50) NOT NULL,
	[GuestClubName] [nvarchar](50) NOT NULL,
	[Stadium] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Match] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchRecord]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchRecord](
	[MatchID] [int] NOT NULL,
	[HomeClubRatio] [int] NOT NULL,
	[GuestClubRatio] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Player]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Player](
	[PlayerID] [varchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[GoalNumber] [int] NOT NULL,
	[AssistNumber] [int] NOT NULL,
	[KitNum] [int] NULL,
 CONSTRAINT [PK_Player_1] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Role]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Round]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Round](
	[RoundID] [int] IDENTITY(1,1) NOT NULL,
	[RoundNumber] [int] NOT NULL,
 CONSTRAINT [PK_Round] PRIMARY KEY CLUSTERED 
(
	[RoundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rules]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[MaximumAge] [int] NOT NULL,
	[MinimumAge] [int] NOT NULL,
	[MinimumNumberPlayer] [int] NOT NULL,
	[MaximumNumberPlayer] [int] NOT NULL,
	[ScoreWin] [int] NOT NULL,
	[ScoreLose] [int] NOT NULL,
	[ScoreDraw] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeGoal]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeGoal](
	[TypeGoalID] [int] IDENTITY(1,1) NOT NULL,
	[TypeGoalName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeGoal] PRIMARY KEY CLUSTERED 
(
	[TypeGoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Club] ([ClubID], [ClubName], [StadiumName], [Path]) VALUES (N'ARS', N'Arsenal', N'Emirates Stadium', NULL)
INSERT [dbo].[Club] ([ClubID], [ClubName], [StadiumName], [Path]) VALUES (N'BOU', N'AFC Bournemouth', N'Vitality Stadium', NULL)
INSERT [dbo].[Club] ([ClubID], [ClubName], [StadiumName], [Path]) VALUES (N'BUR', N'Burnley', N'Turf Moor', NULL)

INSERT [dbo].[Coach] ([CoachID]) VALUES (N'C_ARS')
INSERT [dbo].[Coach] ([CoachID]) VALUES (N'C_BOU')
INSERT [dbo].[Coach] ([CoachID]) VALUES (N'C_BUR')

INSERT [dbo].[Gender] ([GenderID], [GenderName]) VALUES (N'F', N'Female')
INSERT [dbo].[Gender] ([GenderID], [GenderName]) VALUES (N'M', N'Male')

INSERT [dbo].[HumanInformation] ([HumanID], [GenderID], [Human_ClubID], [Name], [Birthday], [Nation], [Path]) VALUES (N'C_ARS', N'M', N'ARS', N'Arsene Wenger', CAST(N'1949-10-22' AS Date), N'France', N'\Images\Arsene Wenger.png')
INSERT [dbo].[HumanInformation] ([HumanID], [GenderID], [Human_ClubID], [Name], [Birthday], [Nation], [Path]) VALUES (N'C_BOU', N'M', N'BOU', N'Eddie Howe', CAST(N'1977-11-29' AS Date), N'England', N'\Images\Eddie Howe.png')
INSERT [dbo].[HumanInformation] ([HumanID], [GenderID], [Human_ClubID], [Name], [Birthday], [Nation], [Path]) VALUES (N'C_BUR', N'M', N'BUR', N'Sean Dyche', CAST(N'1971-06-28' AS Date), N'England', N'\Images\Sean Dyche.png')

INSERT [dbo].[Player] ([PlayerID], [RoleID], [GoalNumber], [AssistNumber], [KitNum]) VALUES (N'P_ARS_1', 1, 0, 0, 33)
INSERT [dbo].[Player] ([PlayerID], [RoleID], [GoalNumber], [AssistNumber], [KitNum]) VALUES (N'P_ARS_2', 2, 0, 0, 2)
INSERT [dbo].[Player] ([PlayerID], [RoleID], [GoalNumber], [AssistNumber], [KitNum]) VALUES (N'P_BOU_1', 1, 0, 0, 23)

SET IDENTITY_INSERT [dbo].[Role] ON 
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Goalkeeper')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Defender')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Midfielder')
SET IDENTITY_INSERT [dbo].[Role] OFF

SET IDENTITY_INSERT [dbo].[Round] ON 
INSERT [dbo].[Round] ([RoundID], [RoundNumber]) VALUES (1, 1)
INSERT [dbo].[Round] ([RoundID], [RoundNumber]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[Round] OFF

INSERT [dbo].[Rules] ([MaximumAge], [MinimumAge], [MinimumNumberPlayer], [MaximumNumberPlayer], [ScoreWin], [ScoreLose], [ScoreDraw]) VALUES (45, 16, 11, 20, 3, 0, 1)
SET IDENTITY_INSERT [dbo].[TypeGoal] ON 

INSERT [dbo].[TypeGoal] ([TypeGoalID], [TypeGoalName]) VALUES (1, N'Direct')
INSERT [dbo].[TypeGoal] ([TypeGoalID], [TypeGoalName]) VALUES (2, N'Penanty')
INSERT [dbo].[TypeGoal] ([TypeGoalID], [TypeGoalName]) VALUES (3, N'OwnGoal')
SET IDENTITY_INSERT [dbo].[TypeGoal] OFF

ALTER TABLE [dbo].[Coach]  WITH CHECK ADD  CONSTRAINT [FK_Coach_HumanInformation] FOREIGN KEY([CoachID])
REFERENCES [dbo].[HumanInformation] ([HumanID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coach] CHECK CONSTRAINT [FK_Coach_HumanInformation]

GO
ALTER TABLE [dbo].[DetailRecord]  WITH CHECK ADD  CONSTRAINT [FK_DetailRecord_Club] FOREIGN KEY([ClubID])
REFERENCES [dbo].[Club] ([ClubID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetailRecord] CHECK CONSTRAINT [FK_DetailRecord_Club]

GO
ALTER TABLE [dbo].[GoalRecord]  WITH CHECK ADD  CONSTRAINT [FK_GoalRecord_Match] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Match] ([MatchID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoalRecord] CHECK CONSTRAINT [FK_GoalRecord_Match]

GO
ALTER TABLE [dbo].[GoalRecord]  WITH CHECK ADD  CONSTRAINT [FK_GoalRecord_Player] FOREIGN KEY([PlayerScoreID])
REFERENCES [dbo].[Player] ([PlayerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoalRecord] CHECK CONSTRAINT [FK_GoalRecord_Player]

GO
ALTER TABLE [dbo].[GoalRecord]  WITH CHECK ADD  CONSTRAINT [FK_GoalRecord_Round] FOREIGN KEY([RoundID])
REFERENCES [dbo].[Round] ([RoundID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoalRecord] CHECK CONSTRAINT [FK_GoalRecord_Round]

GO
ALTER TABLE [dbo].[GoalRecord]  WITH CHECK ADD  CONSTRAINT [FK_GoalRecord_TypeGoal] FOREIGN KEY([TypeGoalID])
REFERENCES [dbo].[TypeGoal] ([TypeGoalID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoalRecord] CHECK CONSTRAINT [FK_GoalRecord_TypeGoal]

GO
ALTER TABLE [dbo].[HumanInformation]  WITH CHECK ADD  CONSTRAINT [FK_HumanInformation_Club] FOREIGN KEY([Human_ClubID])
REFERENCES [dbo].[Club] ([ClubID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HumanInformation] CHECK CONSTRAINT [FK_HumanInformation_Club]

GO
ALTER TABLE [dbo].[HumanInformation]  WITH CHECK ADD  CONSTRAINT [FK_HumanInformation_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HumanInformation] CHECK CONSTRAINT [FK_HumanInformation_Gender]
GO
ALTER TABLE [dbo].[MatchRecord]  WITH CHECK ADD  CONSTRAINT [FK_MatchRecord_Match] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Match] ([MatchID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchRecord] CHECK CONSTRAINT [FK_MatchRecord_Match]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD  CONSTRAINT [FK_Player_HumanInformation] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[HumanInformation] ([HumanID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Player] CHECK CONSTRAINT [FK_Player_HumanInformation]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD  CONSTRAINT [FK_Player_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Player] CHECK CONSTRAINT [FK_Player_Role]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTypeGoal]    Script Date: 2017-05-13 7:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  StoredProcedure [dbo].[DeleteTypeGoal]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*---------------------------------*/
CREATE PROC [dbo].[DeleteTypeGoal]
@TypeGoalID INT
AS	
BEGIN
	DELETE dbo.TypeGoal
	WHERE TypeGoalID = @TypeGoalID
END


GO
/****** Object:  StoredProcedure [dbo].[InsertClub]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertClub]
@club_id varchar(3),
@club_name nvarchar(50),
@stadium_name nvarchar(50),
@path varchar(50)
AS
BEGIN
		INSERT dbo.[Club]
		        ( ClubID,
		          ClubName ,
		          StadiumName ,
		          Path
		        )
		VALUES  ( @club_id,
				@club_name,
				@stadium_name ,
				@path 			
		        )
END

GO
/****** Object:  StoredProcedure [dbo].[InsertCoach]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*---------Insert CoachTable*/
Create proc [dbo].[InsertCoach]
@coach_id varchar(50)
as
Begin
	insert dbo.Coach (CoachID) values (@coach_id)
end

GO
/****** Object:  StoredProcedure [dbo].[InsertHumanInfor]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertHumanInfor]
@humanid varchar(50),
@gender_id varchar(5),
@club_id varchar(3),
@human_name nvarchar(50),
@birthday date,
@nation nvarchar(50),
@path varchar(50)
AS
BEGIN
		INSERT dbo.[HumanInformation]
		        (HumanID, /*cho nay viet bi sai thanh HumanInformationS*/
				GenderID,
				Human_ClubID,
				Name,
				Birthday,
				Nation,
				Path
		        )
		VALUES  ( @humanid,
				@gender_id,
				@club_id,
				@human_name,
				@birthday,
				@nation, 
				@path 			
		        )
END

GO
/****** Object:  StoredProcedure [dbo].[InsertPlayer]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*Insert PlayerTable*/
Create proc [dbo].[InsertPlayer]
@player_id varchar(50),
@role_id int,
@goal_number int,
@assist_number int,
@kitnum int
as
Begin
	insert dbo.Player (PlayerID,
					   RoleID,
					   GoalNumber,
					   AssistNumber,
					   KitNum) values
					   ( @player_id, @role_id, @goal_number, @assist_number, @kitnum)
end

GO
/****** Object:  StoredProcedure [dbo].[LoadClubByDataTable]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LoadClubByDataTable] 
AS
	SELECT Row_number() over(order by ClubID) as OrderingNumber, c.ClubID, c.ClubName , c.StadiumName, h.Name as CoachName, c.Path as PathClub,
	 g.GenderName as CoachGender, h.Nation as CoachNation, h.Birthday as CoachBirthday, h.Path as CoachPath
	FROM	dbo.Club as c, dbo.HumanInformation as h, dbo.Coach as coach, dbo.Gender as g
	where h.Human_ClubID = c.ClubID and h.HumanID = coach.CoachID and g.GenderID = h.GenderID

GO
/****** Object:  StoredProcedure [dbo].[LoadClubInfor]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*----------------------------------*/
CREATE PROC [dbo].[LoadClubInfor]
AS
SELECT * from dbo.Club

GO
/****** Object:  StoredProcedure [dbo].[LoadCoach]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-----Load Coach---------*/
create proc [dbo].[LoadCoach]
as
	select * from Coach

GO
/****** Object:  StoredProcedure [dbo].[LoadGender]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* -------- LoadGender--------------*/
CREATE PROC [dbo].[LoadGender]
AS
	SELECT *
	FROM dbo.Gender

GO
/****** Object:  StoredProcedure [dbo].[LoadPlayerInformation]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[LoadPlayerInformation]
as
	select Row_number() over(order by h.HumanID) as OrderingNumber, h.Name, h.Birthday, (YEAR(GETDATE()) - YEAR(h.Birthday)) as Age, g.GenderName, c.ClubName, r.RoleName, h.Nation, p.KitNum, h.Path, h.HumanID
	from HumanInformation as h, Club as c, Player as p, Role as r, Gender as g
	where h.HumanID = p.PlayerID and h.Human_ClubID = c.ClubID and h.GenderID = g.GenderID
		  and p.RoleID = r.RoleID

GO
/****** Object:  StoredProcedure [dbo].[LoadRoles]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-----Load rules-----------*/
create proc [dbo].[LoadRoles]
as
	select * from Role
GO
/****** Object:  StoredProcedure [dbo].[LoadRuleS]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[LoadRuleS]
AS	
	SELECT	*
	FROM dbo.Rules

GO
/****** Object:  StoredProcedure [dbo].[LoadTypeGoal]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LoadTypeGoal]
AS
	SELECT *
	FROM	dbo.TypeGoal

GO
/****** Object:  StoredProcedure [dbo].[UpdateClub]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateClub]
@club_name nvarchar(50),
@stadium_name nvarchar(50),
@club_id varchar(3)
AS	
BEGIN
	UPDATE dbo.Club
	SET ClubName = @club_name,
		StadiumName = @stadium_name
	WHERE ClubID = @club_id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateHuman]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateHuman]
@human_name nvarchar(50),
@human_gender_id varchar(5),
@human_birthday date,
@human_nation nvarchar(50),
@human_id varchar(50)
as
begin
	UPDATE dbo.HumanInformation
	SET	Name = @human_name,
		GenderID = @human_gender_id,
		Birthday = @human_birthday,
		Nation = @human_nation
	WHERE HumanID = @human_id
end

GO
/****** Object:  StoredProcedure [dbo].[UpdatePlayer]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdatePlayer]
@player_id varchar(50),
@role_id int,
@kitnum int
as
begin
	UPDATE dbo.Player
	SET RoleID = @role_id,
		KitNum = @kitnum
	WHERE PlayerID = @player_id
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateRule]    Script Date: 2017-05-17 2:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*-------------------------------*/
CREATE PROC [dbo].[UpdateRule]
@MaximumAge INT,
@MinimumAge INT,
@MinimumNumberPlayer INT,
@MaximumNumberPlayer INT,
@ScoreWin INT,
@ScoreLose INT,
@ScoreDraw INT
AS	
BEGIN
	UPDATE dbo.Rules
	SET MaximumAge = @MaximumAge, MinimumAge = @MinimumAge, MinimumNumberPlayer = @MinimumNumberPlayer, MaximumNumberPlayer = @MaximumNumberPlayer, ScoreWin = @ScoreWin, ScoreLose = @ScoreLose, ScoreDraw = @ScoreDraw
END	

GO
USE [master]
GO
